:root{
    --padding-dashboard-top: 10px;
}
* {
    margin: 0;
    padding: 0;
}
h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
ul {
    list-style-type: none;
}
a {
    color: white;
    text-decoration: none;
    display: flex;
    
    align-items: center;
    gap: 5px;
}
img {
    color: white;
    filter: invert(100%);
    object-fit: scale-down;
    width: 30px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 5fr;
    align-content: stretch;
    height: 100vh; 
}

/*sidebar*/
.sidebar {
    padding-top: var(--padding-dashboard-top);
    padding-left: 15px;
    padding-right: 80px;
    color: black;
    grid-row: 1/ span 2;
    background-color: #1992d4;    
    display: flex;
    gap: 2.5rem;
    flex-direction: column;
}
.sidebar-child > h1 {
    font-size: large;
}
.sidebar-child > nav > ul {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

/*main*/
.main  {
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 5px;
    padding-top: var(--padding-dashboard-top);
    padding-bottom: 5px;
    padding-right: 15px;
}
/*classes to be worked on:
+ search
+ profile
+ profile-card
+ buttons
*/

.search {
    grid-column: 1/2;
    grid-row: 1/2;
}

.profile {
    grid-column: 2/3;
    grid-row: 1/2;
}

/*content*/
.content {
    background-color: tomato;
    grid-column: 2/3;
}

